<div class="section">
  {{#each this}}
    <section class="box">
      <h2 class="title is-size-3">
        {{user.username}} on {{format_date created_at}}
      </h2>

      <div class="is-size-4">
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>