<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mega Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <div class="">
    <header>
      <h1>
        <a href="/">Just Tech News</a>
      </h1>

      <nav>
        {{#if notHome}}
          <a href="/">home</a>
        {{/if}}        

        {{#if notDash}}
          <a href="/dashboard">dashboard</a>
        {{/if}}

        {{#if loggedIn}}
          <button id="logout" class="">logout</button>
        {{else}}
          <a href="/login">login / signin</a>
        {{/if}}
      </nav>
    </header>

    <main>
      {{{ body }}}
    </main>

    <footer>
      Thanks for visiting!
    </footer>
  </div>

  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>