<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mega Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header class="navbar">
    <h1 class="navbar-brand">
      <a class="navbar-item is-size-2" href="/">Just Tech News</a>
    </h1>

    <nav class="navbar-menu is-active is-flex is-mobile">
      <div  class="navbar-start">
        <div class="navbar-item">
          <div class="buttons">
            {{#if notHome}}
              <a class="button" href="/">Home</a>
            {{/if}}    

            {{#if notDash}}
              <a class="button" href="/dashboard">Dashboard</a>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {{#if loggedIn}}
              <button class="button is-dark" id="logout" class="">Logout</button>
            {{else}}
              <a class="button is-primary" href="/login">Login / Signin</a>
            {{/if}}
          </div>
        </div>        
      </div>
    </nav>
  </header>

  <main class="section">
    {{{ body }}}
  </main>

  <footer class="footer has-background-white">
    <section class="section">
      <div class="content is-flex is-align-items-center is-justify-content-center">
        <p class="is-size-4 has-text-weight-semibold">Thanks for visiting!</p>
      </div>
    </section>
  </footer>

  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>