{{> post-info post}}

{{#if loggedIn}}
  <form class="form m-3" id="comment-form">
    <div class="field">
      <label class="label" for="comment-body">Comment:</label>

      <div class="control">
        <textarea class="textarea" name="comment-body"></textarea>
      </div>
    </div>

    <div class="field buttons">
      <button type="submit" class="button">Add Comment</button>

      <button type="button" class="button is-success" id="upvote-btn">Upvote</button>
    </div>
  </form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  <script src="/javascript/upvote.js"></script>
{{/if}}